@font-face {
    font-family: 'Input-Sans';
    src: url("/assets/fonts/InputSans.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'Input-Sans';
    src: url("/assets/fonts/fonnts.com-InputSans_ExLight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Input-Sans';
    src: url("/assets/fonts/fonnts.com-InputSans_Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Input-Sans';
    src: url("/assets/fonts/fonnts.com-InputSansNarrow_Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Input-Sans';
}